
*.pyc

python_road_upgrades/Exports/

python_road_upgrades/.idea/

.idea/

stata_code/Datasets/

stata_code/Exports/

stata_code/

python_road_upgrades/.ipynb_checkpoints/
.Rproj.user

*.tex

*.png


